{{> header}}
<h2>{{viewTitle}}</h2>
<table border="1">
    <thead>
        <th>Campo 1</th>
        <th>Campo 2</th>
        <th></th>
    </thead>
    <tbody>
        {{#each list}}
            <tr>
                <td>{{this.campo1}}</td>
                <td>{{this.campo2}}</td>
                <td>
                    <a href="/client/{{this._id}}">Edit</a>
                    <a href="/client/delete/{{this._id}}"
                    onclick="return confirm('Desea eliminar el registro?');">
                    Delete
                    </a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>